
/**
 * @file
 * Style sheet for the Sitestats module.
 */
#loading1 {
 background:url(images/loader.gif) center no-repeat;
 height: 100px;
 width: 100%;
 
}

#loading2 {
 background:url(images/load.gif) center no-repeat;
 height: 100px;
 width: 100%;
}

#target_sitestats table {
  width: 100%;
}

#validEmail {
  margin-top: 4px;
  margin-left: 9px;
  position: absolute;
  width: 16px;
  height: 16px;
}
.validYes {
  background-image:url(images/validyes.png);
}
.validNo {
  background-image:url(images/validno.png);
}
